/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (max-width: 1199px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 95%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 90%;
    }
    .navbar-default .navbar-toggle,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        border-color: transparent;
        background-color: transparent;
    }
    .navbar-collapse {
        width: 100%;
        margin: 0;
        border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #1ebd9d;
    }
    .navbar-nav {
        max-width: 140px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .navbar-toggle {
        padding: 15px 0;
        width: 24px;
    }
    #navbar .navbar-nav > li:first-child {
        margin-top: 20px;
    }
    #navbar .navbar-nav > li:last-child {
        margin-bottom: 20px;
    }
    #navbar .navbar-nav > li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 580px) {
    html {
        font-size: 85%;
    }
    .no-padding-sm {
        padding: 0;
    }
    .no-padding-top-sm {
        padding-top: 0;
    }
    .no-padding-bottom-sm {
        padding-bottom: 0;
    }
    .no-padding-left-sm {
        padding-left: 0;
    }
    .no-padding-right-sm {
        padding-right: 0;
    }
    .no-margin-sm {
        margin: 0;
    }
    .no-margin-top-sm {
        margin-top: 0;
    }
    .no-margin-bottom-sm {
        margin-bottom: 0;
    }
    .no-margin-left-sm {
        margin-left: 0;
    }
    .no-margin-right-sm {
        margin-right: 0;
    }
    .full-width-sm {
        width: 100%;
    }
     .okayNav {
        min-width: 50%;
    }
}
